@charset "UTF-8";
/*	CSS  MENUSV 
 *  Autor : Ricardo Carpintero
 *  Ayuda : info@solucionesvigo.es
 *  Requesitos: Plantilla con bootstap y plugin pmenusv ( Si quiere que sea maximenu ) 
 * */

.menuSv {
display: table;
margin: 0px auto;

}
.menuSv ul{
 margin: auto 0px;
} 
.menuSv ul li {
list-style-type:none;
}

li.Nivel1 {
float:left;
padding: 5px 25px 5px 25px;
}

.menuSv li.Nivel1 div.maximenu2{
 display:none;
} 

.menuSv li.Nivel1:hover > div,.menuSv li.Nivel1:hover > ul{
  display:table;
}

.menuSv li.Nivel1:hover > div.maximenu2 {
	display:table;
}
.menuSv li.Nivel1 > ul {
	display:none;
}


ul.descendente1{
display: table;
z-index: 1000;
margin: 0px 0px;
position: absolute;
background: #f5f5f5;
padding: 10px 10px;
}


div.maximenu2 {
position:absolute;
z-index: 2000;
padding: 10px;
left: 10%;
display:table;
padding: 0px auto;
width: 80%;
background: #f5f5f5;
}





